.card {
    border-radius: 12px;
    box-shadow: 0 6px 10px -4px rgb(0 0 0 / 15%);
    background-color: #fff;
    color: #252422;
    margin-bottom: 20px;
    position: relative;
    border: 0 none;
    transition: transform .3s cubic-bezier(.34,2,.6,1),box-shadow .2s ease;
}
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
}
.card-stats .card-body {
    padding: 15px 15px 0;
}

.card .card-body {
    padding: 15px 15px 10px;
}
.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}
.card-stats .icon-big {
    font-size: 3em;
    min-height: 64px;
}

.card-stats .icon-big i {
    line-height: 59px;
}
.text-warning, a.text-warning:focus, a.text-warning:hover {
    color: #fbc658!important;
}
.nc-icon {
    display: inline-block;
    font: normal normal normal 14px/1 nucleo-icons;
    font-size: inherit;
    speak: none;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.text-warning {
    color: #ffc107!important;
} 
.text-center {
    text-align: center!important;
} 
.card-stats .card-body .numbers {
    text-align: right;
    font-size: 2em;
}
.card .numbers {
    font-size: 2em;
}
.card-stats .card-body .numbers .card-category {
    color: #9a9a9a;
    font-size: 16px;
    line-height: 1.4em;
}
.card-stats .card-body .numbers p {
    margin-bottom: 0;
}
.card-category {
    font-size: 1em;
}
.card-category, .category {
    text-transform: capitalize;
    font-weight: 400;
    color: #9a9a9a;
    font-size: .7142em;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
} 
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.card-stats .card-body .numbers {
    text-align: right;
    font-size: 2em;
}
.card .numbers {
    font-size: 2em;
}
.card-title {
    margin-bottom: 0.75rem;
}
.card-stats .card-footer {
    padding: 0 15px 15px;
}

.card .card-footer {
    background-color: transparent;
    
}
.card-footer:last-child {
    border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
}
.card-footer {
    padding: 0.75rem 1.25rem;
    background-color: rgba(0,0,0,.03);
    border-top: 1px solid rgba(0,0,0,.125);

} 

